#siteheader {
  background: #149ecb;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 13px;
}
#siteheader a,
#siteheader a:visited {
  color: white;
  text-decoration: none;
}
#siteheader .header-content {
  width: 1160px;
  margin: 0px auto;
  padding: 20px 0px;
  font-weight: bold;
  overflow: auto;
}
#siteheader .header-content .header-banner {
  float: left;
  width: 75%;
}
#siteheader .header-content .header-shortlist {
  float: left;
  width: 12.5%;
}
#siteheader .header-language {
  float: left;
  width: 12.5%;
}
#siteheader .header-language ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#siteheader nav {
  clear: both;
  background: #06526b;
  border: 1px solid #043a4c;
  position: relative;
  min-height: 40px;
  font-size: 16px;
  line-height: 20px;
  z-index: 1001;
}
#siteheader nav ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  position: relative;
}
#siteheader nav ul li {
  float: left;
}
#siteheader nav ul li a,
#siteheader nav ul li a:visited {
  display: block;
  padding: 10px;
}
#sitefooter {
  width: 1160px;
  margin: 0px auto;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #999999;
  font-size: 13px;
}
#sitefooter a {
  color: #06526b;
  text-decoration: underline;
}
#sitefooter .footer-opintopolku-info {
  border: 1px solid #dddddd;
  padding: 20px;
  overflow: auto;
}
#sitefooter .footer-opintopolku-info .footer-homelink {
  float: left;
  margin-right: 40px;
}
#sitefooter .footer-opintopolku-info ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 20px;
}
#sitefooter .footer-note {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}
#sitefooter .footer-links {
  border: 1px solid #dddddd;
  overflow: auto;
  padding: 9px 0px;
}
#sitefooter .footer-links a {
  display: inline-block;
  width: 50%;
  text-align: center;
  float: left;
}
