<footer data-attr-t aria-label-t="footer.ariaLabel" role="contentinfo" id="sitefooter">
  <div class="footer-info-container">
    <div class="footer-opintopolku-info">
      <a href="/" class="footer-homelink">
        <img data-attr-t alt-t="common.links.home.title;" src-t="common.links.home.image"/>
      </a>
      <ul id="footer-links">
      </ul>
    </div>
  </div>

  <div class="footer-note" data-t="footer.note">
  </div>

  <div class="footer-logos">
    <a data-attr-t href-t="footer.links.opetushallitus.link" title-t="footer.links.opetushallitus.title">
      <img style="width: 154px" data-attr-t alt-t="footer.links.opetushallitus.title" src-t="footer.links.opetushallitus.image" class="center-block">
    </a>
    <a data-attr-t href-t="footer.links.opetusministerio.link" title-t="footer.links.opetusministerio.title">
      <img data-attr-t alt-t="footer.links.opetusministerio.title" src-t="footer.links.opetusministerio.image" class="center-block">
    </a>
  </div>
  <div class="copyright footer-note" data-i18n="copyright"></div>
</footer>
