<footer data-attr-t aria-label-t="footer.ariaLabel" role="contentinfo" id="footer">
  <div id="footer-opintopolku-info-container">
    <div class="footer-item">
      <div class="footer-links-title" data-t="footer.linksHeading"></div>
      <ul id="footer-links">
        <li><a class="raamit-dynamic-link" data-attr-t href-t="footer.links.mystudyinfo.url" data-t="footer.links.mystudyinfo.title"></a></li>
        <li><a class="raamit-dynamic-link" data-attr-t href-t="footer.links.description.url" data-t="footer.links.description.title"></a></li>
        <li id="footer-link-feedback">
          <a class="raamit-dynamic-link" data-attr-t href-t="footer.links.feedback.url" data-t="footer.links.feedback.title"></a>
        </li>
        <li><a class="raamit-dynamic-link" data-attr-t href-t="footer.links.register.url" data-t="footer.links.register.title"></a></li>
      </ul>
    </div>
    <div class="footer-item" id="footer-logos">
      <a noclass="footer-item" data-attr-t href-t="footer.links.opetushallitus.link" title-t="footer.links.opetushallitus.title">
        <img style="width: 154px" data-attr-t alt-t="footer.links.opetushallitus.title" src-t="footer.links.opetushallitus.image">
      </a>
      <a noclass="footer-item" data-attr-t href-t="footer.links.opetusministerio.link" title-t="footer.links.opetusministerio.title">
        <img data-attr-t alt-t="footer.links.opetusministerio.title" src-t="footer.links.opetusministerio.image">
      </a>
    </div>
  </div>
  <script src="https://browser-update.org/update.min.js"></script>
  <script>
    var $buoop = {
      required:{
        //e:0, // MS Edge
        i:12 // Below IE 12
        //f:0, // Firefox
        //o:0, // Opera
        //s:0, // Safari
        //c:0 // Chrome
      },
      //test:true, //Uncomment to show update bar always
      reminder:0,
      reminderClosed:0,
      newwindow:true,
      insecure:true,
      unsupported:true,
      text:i18n.t("raamit:browserUpdateText"),
      no_permanent_hide:true,
      api:2019.05
    };
  </script>
</footer>
