<footer data-attr-t aria-label-t="footer.ariaLabel" role="contentinfo" id="footer" data-raamit-component="footer">
  <div id="footer-opintopolku-info-container">
    <div class="footer-item">
      <div class="footer-links-title" data-t="footer.linksHeading"></div>
      <ul id="footer-links">
        <li><a class="raamit-dynamic-link" data-attr-t href-t="footer.links.mystudyinfo.url" data-t="footer.links.mystudyinfo.title"></a></li>
        <li><a class="raamit-dynamic-link" data-attr-t href-t="footer.links.description.url" data-t="footer.links.description.title"></a></li>
        <li id="footer-link-feedback">
          <a class="raamit-dynamic-link" data-attr-t href-t="footer.links.feedback.url" data-t="footer.links.feedback.title"></a>
        </li>
        <li><a class="raamit-dynamic-link" data-attr-t href-t="footer.links.register.url" data-t="footer.links.register.title"></a></li>
      </ul>
    </div>
    <div class="footer-item" id="footer-logos">
      <a data-inline-style="width: 35%;" noclass="footer-item" data-attr-t href-t="footer.links.opetushallitus.link" title-t="footer.links.opetushallitus.title">
        <img data-inline-style="width: 100%;" data-attr-t alt-t="footer.links.opetushallitus.title" src-t="footer.links.opetushallitus.image">
      </a>
      <a data-inline-style="width: 65%" noclass="footer-item" data-attr-t href-t="footer.links.opetusministerio.link" title-t="footer.links.opetusministerio.title">
        <img data-inline-style="width: 100%;" data-attr-t alt-t="footer.links.opetusministerio.title" src-t="footer.links.opetusministerio.image">
      </a>
    </div>
  </div>
</footer>
