<header data-attr-t aria-label-t="header.ariaLabel" role="banner" id="header">
  <!-- Cookie Notification -->
  <div id="cookie-notification">
    <span class="cookie-text" data-t="header.cookie.info"></span>
    <button class="cookie-btn" data-t="header.cookie.close" onclick="Raamit.setAcceptCookie()"></button>
  </div>

  <!-- Top Navigation Links -->
  <div id="top-links-bar">
    <div role="presentation" class="top-links header-column">
      <div id="top-link-opintopolku" class="top-link">
        <a href="/" data-attr-t alt-t="common.links.home.title" data-t="header.links.opintopolku"></a>
      </div>
      <div id="top-link-oma-opintopolku" class="top-link">
        <a href="/oma-opintopolku" data-t="header.links.oma-opintopolku"></a>
      </div>
      <div id="top-link-eperusteet" class="top-link">
        <a data-attr-t href-t="header.links.eperusteet.url" data-t="header.links.eperusteet.title"></a>
      </div>
    </div>
  </div>

  <!-- Presentation menu -->
  <div role="presentation" id="header-content" class="header-column">
    <!-- Banner and view name-->
    <div id="header-content-left-side">
      <button id="header-mobile-menu-button" onclick="Raamit.toggleMenu()">
        <i class="raamit-icon-menu"></i>
      </button>
      <img src="/oppija-raamit/img/oma-opintopolku_ikoni.svg" id="header-banner" />
      <span id="header-title" data-t="header.links.oma-opintopolku"></span>
    </div>
    <div id="header-content-right-side">
      <div id="header-languages" class="header-item" data-attr-t aria-label-t="header.languages.ariaLabel">
        <button class="header-language-button header-language-fi" data-attr-t title-t="header.languages.fi"
                onclick="Raamit.changeLanguage('fi')">FI</button>
        <button class="header-language-button header-language-sv" data-attr-t title-t="header.languages.sv"
                onclick="Raamit.changeLanguage('sv')">SV</button>
        <button class="header-language-button header-language-en" data-attr-t title-t="header.languages.en"
               onclick="Raamit.changeLanguage('en')">EN</button>
      </div>

      <div id="header-omatsivut-link" class="header-item border">
        <a href="/omatsivut" data-t="header.links.applications"></a>
      </div>
      <div id="header-koski-link" class="header-item">
        <a href="/opinnot/omattiedot" data-t="header.links.koski"></a>
      </div>


      <div id="header-login-section" class="header-item">
        <div id="header-logged-in" class="header-login-section-item" style="display:none;">
          <p class="header-identity header-logged-in-name"></p>
          <button id="header-logout-button" class="raamit-button" onclick="Raamit.logout()"
                  data-t="header.links.logout"></button>
        </div>
        <div id="header-logged-out" class="header-login-section-item">
          <button id="header-login-button" class="raamit-button" onclick="Raamit.login()"
                  data-t="header.links.login"></button>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div id="header-mobile-menu-content">
    <div id="header-mobile-menu-languages">
      <button class="header-language-button header-language-fi" data-t="header.languages.fi"
                  onclick="Raamit.changeLanguage('fi')"></button>
      <button class="header-language-button header-language-sv" data-t="header.languages.sv"
                  onclick="Raamit.changeLanguage('sv')"></button>
      <button class="header-language-button header-language-en" data-t="header.languages.en"
                  onclick="Raamit.changeLanguage('en')"></button>
    </div>
    <div id="header-mobile-menu-current-page">
      <span>Opintopolku</span>
      <span>-</span>
      <span>etusivu</span>
    </div>
    <div id="header-mobile-menu-login-section">
      <div id="header-mobile-menu-logged-in">
        <p id="header-mobile-menu-name" class="header-identity"></p>
      </div>
      <div id="header-mobile-menu-logged-out">
        <button id="header-mobile-menu-login" class="raamit-button" onclick="Raamit.login()"
                data-t="header.links.login"></button>
      </div>
    </div>
    <div id="header-mobile-menu-links">
      <a href="/" data-t="header.links.home"></a>
      <a href="/opinnot/omattiedot" data-t="header.links.koski"></a>
      <a href="/omatsivut" data-t="header.links.applications"></a>
    </div>
    <button id="header-mobile-menu-logout-button" class="raamit-button" onclick="Raamit.logout()"
            data-t="header.links.logout"></button>
  </div>
</header>
