<header data-attr-t aria-label-t="header.ariaLabel" role="banner" id="header">
  <!-- Cookie Notification -->
  <div id="cookie-notification">
    <span class="cookie-text" data-t="header.cookie.info"></span>
    <button class="cookie-btn" data-t="header.cookie.close" onclick="Raamit.setAcceptCookie()"></button>
  </div>
  <script src="https://browser-update.org/update.min.js"></script>

  <!-- Top Navigation Links -->
  <div id="top-links-bar">
    <div role="presentation" class="top-links header-column">
      <div id="top-link-opintopolku" class="top-link">
        <a class="raamit-dynamic-link" href="/" data-attr-t data-t="header.links.opintopolku"></a>
      </div>
      <div id="top-link-oma-opintopolku" class="top-link">
        <a href="/oma-opintopolku" data-t="header.links.oma-opintopolku"></a>
      </div>
      <div id="top-link-eperusteet" class="top-link">
        <a data-attr-t href-t="header.links.eperusteet.url" data-t="header.links.eperusteet.title"></a>
      </div>
    </div>
  </div>

  <!-- Presentation menu -->
  <div role="presentation" id="header-content" class="header-column">
    <!-- Banner and view name-->
    <div id="header-content-left-side">
      <button id="header-mobile-menu-button" onclick="Raamit.toggleMobileMenu()" aria-expanded="false" aria-haspopup="true" aria-controls="header-mobile-menu-container" data-attr-t aria-label-t="header.mobileMenuButton.ariaLabel">
        <div class="header-mobile-menu-bar1"></div>
        <div class="header-mobile-menu-bar2"></div>
        <div class="header-mobile-menu-bar3"></div>
      </button>
      <img src="/oppija-raamit/img/oma-opintopolku_ikoni.svg" id="header-banner"/>
      <a href="/oma-opintopolku" id="header-title">
        <span noid="header-title" data-t="header.links.oma-opintopolku"></span>
      </a>
    </div>
    <div id="header-content-right-side">
      <div id="header-languages" class="header-item" data-attr-t aria-label-t="header.languages.ariaLabel">
        <button class="header-language-button header-language-fi" data-attr-t title-t="header.languages.fi"
                onclick="Raamit.changeLanguage('fi')">FI</button>
        <button class="header-language-button header-language-sv" data-attr-t title-t="header.languages.sv"
                onclick="Raamit.changeLanguage('sv')">SV</button>
        <button class="header-language-button header-language-en" data-attr-t title-t="header.languages.en"
               onclick="Raamit.changeLanguage('en')">EN</button>
      </div>

      <div id="header-omatsivut-link" class="header-item border">
        <a href="/omatsivut" data-t="header.links.applications"></a>
      </div>
      <div id="header-koski-link" class="header-item">
        <a href="/koski/omattiedot" data-t="header.links.koski"></a>
      </div>


      <div id="header-login-section" class="header-item">
        <div id="header-logged-in" class="header-login-section-item" style="display:none;">
          <button id="header-overflow-menu-button" class="raamit-button" onclick="Raamit.toggleOverflowMenu()" aria-expanded="false" aria-haspopup="true" aria-controls="header-overflow-menu-container" data-attr-t aria-label-t="header.mobileMenuButton.ariaLabel">
            <div id="header-profile-icon"></div>
            <span class="header-identity header-logged-in-name"></span>
            <div id="header-overflow-icon"></div>
          </button>
        </div>

        <div id="header-logged-out" class="header-login-section-item">
          <button id="header-login-button" class="raamit-button" onclick="Raamit.login()"
                  data-t="header.links.login"></button>
        </div>

        <!-- Overflow menu -->
        <div id="header-overflow-menu-container">
          <div id="header-overflow-menu-content-container">
            <div id="header-overflow-menu-logged-in">
              <div id="header-overflow-menu-links">
                <a id="header-overflow-menu-links-tietojeni-kaytto" href="/koski/omadata/kayttooikeudet" data-t="header.links.tietojeni-kaytto"></a>
              </div>
              <button id="header-overflow-menu-logout-button" class="raamit-button" onclick="Raamit.logout()" data-t="header.links.logout"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Mobile menu -->
  <div id="header-mobile-menu-container">
    <div id="header-mobile-menu-content-container">
      <div id="header-mobile-menu-languages" data-attr-t aria-label-t="header.languages.ariaLabel">
        <button class="header-language-button header-language-fi" onclick="Raamit.changeLanguage('fi')">FI</button>
        <button class="header-language-button header-language-sv" onclick="Raamit.changeLanguage('sv')">SV</button>
        <button class="header-language-button header-language-en" onclick="Raamit.changeLanguage('en')">EN</button>
      </div>
      <p id="header-mobile-menu-title" data-t="header.links.oma-opintopolku"></p>
      <div id="header-mobile-menu-login-section">
        <div id="header-mobile-menu-logged-in">
          <div id="header-mobile-menu-links">
            <a id="header-mobile-menu-links-home" href="/oma-opintopolku" data-t="header.links.home"></a>
            <a id="header-mobile-menu-links-koski" href="/koski/omattiedot" data-t="header.links.koski"></a>
            <a id="header-mobile-menu-links-omatsivut" href="/omatsivut" data-t="header.links.applications"></a>
            <a id="header-mobile-menu-links-tietojeni-kaytto" href="/koski/omadata/kayttooikeudet" data-t="header.links.tietojeni-kaytto"></a>
          </div>
          <p id="header-mobile-menu-name" class="header-identity"></p>
          <button id="header-mobile-menu-logout-button" class="raamit-button" onclick="Raamit.logout()"
                  data-t="header.links.logout"></button>
        </div>
        <div id="header-mobile-menu-logged-out">
          <button id="header-mobile-menu-login" class="raamit-button" onclick="Raamit.login()"
                  data-t="header.links.login"></button>
        </div>
      </div>
    </div>
    <div id="header-mobile-menu-top-links-container">
      <div id="header-mobile-menu-top-links">
        <a class="raamit-dynamic-link" href="/" data-t="header.links.opintopolku"></a>
        <a id="top-link-mobile-eperusteet" data-attr-t href-t="header.links.eperusteet.url" data-t="header.links.eperusteet.title"></a>
      </div>
    </div>
  </div>
</header>
