<header role="banner" id="header" data-raamit-component="header">

  <!-- Top Navigation Links -->
  <div data-attr-t id="top-links-bar" aria-label-t="header.ariaLabel">
    <div role="presentation" class="top-links header-column" aria-labelledby="top-links-bar">
      <div id="top-link-opintopolku" class="top-link" aria-labelledby="top-links-bar">
        <a class="raamit-dynamic-link" href="/" data-attr-t data-t="header.links.opintopolku"></a>
      </div>
      <div id="top-link-oma-opintopolku" class="top-link" aria-labelledby="top-links-bar">
        <a href="/oma-opintopolku" data-t="header.links.oma-opintopolku"></a>
      </div>
      <div id="top-link-eperusteet" class="top-link" aria-labelledby="top-links-bar">
        <a data-attr-t href-t="header.links.eperusteet.url" data-t="header.links.eperusteet.title"></a>
      </div>
      <div id="top-link-ehoks" class="top-link" aria-labelledby="top-links-bar">
        <a href="/ehoks" data-t="header.links.ehoks.title"></a>
      </div>
    </div>
  </div>

  <!-- Presentation menu -->
  <div data-attr-t role="presentation" id="header-content" class="header-column" aria-label-t="header.ariaLabelOmaOpintopolku">
    <!-- Banner and view name-->
    <div id="header-content-left-side">
      <button id="header-mobile-menu-button" data-event-id="header-mobile-menu-button" aria-expanded="false"
              aria-haspopup="true" aria-controls="header-mobile-menu-container" data-attr-t
              aria-label-t="header.mobileMenuButton.ariaLabel">
        <div class="header-mobile-menu-bar1"></div>
        <div class="header-mobile-menu-bar2"></div>
        <div class="header-mobile-menu-bar3"></div>
      </button>
      <img src="/oppija-raamit/img/oma-opintopolku_ikoni.svg" id="header-banner"/>
      <a href="/oma-opintopolku" id="header-title">
        <span noid="header-title" data-t="header.links.oma-opintopolku"></span>
      </a>
    </div>
    <div id="header-content-right-side">
      <div id="header-languages" class="header-item" data-attr-t aria-label-t="header.languages.ariaLabel"
           aria-labelledby="header-content">
        <button class="header-language-button header-language-fi" id="header-button-language-fi" data-event-id="header-button-language-fi" data-attr-t title-t="header.languages.fi"
                data-t="header.languages.fi_alt"
                aria-labelledby="header-content"></button>
        <button class="header-language-button header-language-sv" id="header-button-language-sv" data-event-id="header-button-language-sv" data-attr-t title-t="header.languages.sv"
                data-t="header.languages.sv_alt"
                aria-labelledby="header-content"></button>
        <button class="header-language-button header-language-en" id="header-button-language-en" data-event-id="header-button-language-en" data-attr-t title-t="header.languages.en"
                data-t="header.languages.en_alt"
                aria-labelledby="header-content"></button>
      </div>

      <div id="header-omatsivut-link" class="header-item border" aria-labelledby="header-content">
        <a href="/omatsivut" data-t="header.links.applications"></a>
      </div>
      <div id="header-koski-link" class="header-item border" aria-labelledby="header-content">
        <a href="/koski/omattiedot" data-t="header.links.koski"></a>
      </div>
      <div id="header-valpas-link" class="header-item" aria-labelledby="header-content">
        <a href="/valpas/omattiedot" data-t="header.links.valpas"></a>
      </div>


      <div id="header-login-section" class="header-item">
        <div id="header-logged-in" class="header-login-section-item" data-inline-style="display:none;">
          <button id="header-overflow-menu-button" data-event-id="header-overflow-menu-button" class="raamit-button"
                  aria-expanded="false" aria-haspopup="true" aria-controls="header-overflow-menu-container">
            <div id="header-profile-icon"></div>
            <span class="header-identity header-logged-in-name"></span>
            <div id="header-overflow-icon"></div>
          </button>
        </div>

        <div id="header-logged-out" class="header-login-section-item">
          <button id="header-login-button" data-event-id="header-login-button" class="raamit-button"
                  data-t="header.links.login"></button>
        </div>

        <!-- Overflow menu -->
        <div id="header-overflow-menu-container">
          <div id="header-overflow-menu-content-container">
            <div id="header-overflow-menu-logged-in">
              <div id="header-overflow-menu-links">
                <a id="header-overflow-menu-links-tietojeni-kaytto" href="/koski/omadata/kayttooikeudet" data-t="header.links.tietojeni-kaytto"></a>
              </div>
              <button id="header-overflow-menu-logout-button" class="raamit-button" data-event-id="header-overflow-menu-logout-button" data-t="header.links.logout"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Mobile menu -->
  <div id="header-mobile-menu-container">
    <div id="header-mobile-menu-content-container">
      <div id="header-mobile-menu-languages" data-attr-t aria-label-t="header.languages.ariaLabel">
        <button class="header-language-button header-language-fi" id="mobile-header-button-language-fi" data-event-id="mobile-header-button-language-fi">FI</button>
        <button class="header-language-button header-language-sv" id="mobile-header-button-language-sv" data-event-id="mobile-header-button-language-sv">SV</button>
        <button class="header-language-button header-language-en" id="mobile-header-button-language-en" data-event-id="mobile-header-button-language-en">EN</button>
      </div>
      <p id="header-mobile-menu-title" data-t="header.links.oma-opintopolku"></p>
      <div id="header-mobile-menu-login-section">
        <div id="header-mobile-menu-logged-in">
          <div id="header-mobile-menu-links">
            <a id="header-mobile-menu-links-home" href="/oma-opintopolku" data-t="header.links.home"></a>
            <a id="header-mobile-menu-links-koski" href="/koski/omattiedot" data-t="header.links.koski"></a>
            <a id="header-mobile-menu-links-valpas" href="/valpas/omattiedot" data-t="header.links.valpas"></a>
            <a id="header-mobile-menu-links-omatsivut" href="/omatsivut" data-t="header.links.applications"></a>
            <a id="header-mobile-menu-links-tietojeni-kaytto" href="/koski/omadata/kayttooikeudet" data-t="header.links.tietojeni-kaytto"></a>
          </div>
          <p id="header-mobile-menu-name" class="header-identity"></p>
          <button id="header-mobile-menu-logout-button" data-event-id="header-mobile-menu-logout-button" class="raamit-button"
                  data-t="header.links.logout"></button>
        </div>
        <div id="header-mobile-menu-logged-out">
          <button id="header-mobile-menu-login" data-event-id="header-mobile-menu-login" class="raamit-button"
                  data-t="header.links.login"></button>
        </div>
      </div>
    </div>
    <div id="header-mobile-menu-top-links-container">
      <div id="header-mobile-menu-top-links">
        <a class="raamit-dynamic-link" href="/" data-t="header.links.opintopolku"></a>
        <a id="top-link-mobile-eperusteet" data-attr-t href-t="header.links.eperusteet.url" data-t="header.links.eperusteet.title"></a>
        <a id="top-link-mobile-ehoks" data-attr-t href-t="/ehoks" data-t="header.links.ehoks.title"></a>
      </div>
    </div>
  </div>
</header>
