:root {
  /* Fonts */
  --raamit-font: 'Source Sans Pro', sans-serif;
  --raamit-font-size: 18px;
  --raamit-font-size-small: 14px;
  --raamit-font-size-top-links: 16px;
  --raamit-font-weight: 600;

  --header-hover-color: #00B5EF;
  --header-active-color: #0a789c;
  --header-background-color: #0a789c;
  --top-links-background-color: #06526b;
  --header-z-index: 1001;
}
