#footer {
  font-size: 13px;
  font-family: var(--raamit-default-font);
  width: 100%;
  border: 1px solid #dddddd;
  max-width: 1160px;
  min-width: 500px;
  margin: 0 auto;
  color: color(#999999);
}

#footer :any-link {
  color: #333333;
  text-decoration: none;
}

#footer-logos {
  overflow: auto;
  padding: 9px 0;
  border: 1px solid #dddddd;

  & a {
    display: inline-block;
    width: 50%;
    text-align: center;
    float: left;
  }
}

.footer-note {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}

#footer-opintopolku-info-container {
  border: 1px solid #dddddd;
  border-radius: 3px;
}

#footer-opintopolku-info {
  padding: 20px;
  overflow: auto;
  background: #dcdcdc;
  margin: 4px;

  & #footer-homelink {
    float: left;
    margin-right: 40px;
  }

  & #footer-links {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 20px;
    width: 500px;

    & li {
      width: 220px;
      float: left;

      & a:hover {
        text-decoration: underline;
      }
    }
  }
}
