#footer {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

#footer :any-link {
  color: black;
  text-decoration: none;
}

#footer-logos {
  width: 95%;
  max-width: 440px;
  padding-top: 0;

  & a {
    display: inline-block;
    width: 50%;
    float: left;
  }
}

#footer-opintopolku-info-container {
  border-top: 2px solid var(--header-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--raamit-font-size-small);
}

.footer-item {
  padding: 15px;
  box-sizing: border-box;
}

.footer-links-title {
  font-weight: bold;
}

#footer-links {
  list-style-type: none;
  line-height: 20px;
  max-width: 750px;
  box-sizing: content-box;
  padding-left: 0;

  & li {
    width: 250px;
    float: left;

    & a:hover {
      text-decoration: underline;
    }
  }
}

