#header {
  background: var(--header-background-color);
  color: white;
  line-height: 16px;
}

#header :any-link {
  color: white;
  text-decoration: none;
}

#header :any-link:focus, #header button:focus {
  outline-color: white;
}

.header-column {
  max-width: 1160px;
  margin: 0 auto;
}

#header-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 15px 0 15px 0;
}

#header-content-left-side {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header-content-right-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  font-weight: 600;
}

/* Title section */

#header-mobile-menu-button {
  display: none;
}

#header-banner {
  display: block;
  width: 44px;
  height: 44px;
  margin: 0 10px;
}

#header-title {
  margin: auto;
  font-size: 24px;
  font-weight: bold;
}

/* Language section */

#header-languages {
  margin-left: auto;
  border-right: 1px solid white;
}

.header-language-button {
  background: Transparent no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  margin-right: 5px;
  color: white;
  font-size: var(--raamit-font-size);
  font-weight: var(--raamit-font-weight);
  font-family: inherit;
  padding: 0;
}

.header-language-button-active {
  text-decoration: underline;
}

/* Link section */

.header-item {
  position: relative;
  margin: auto 0 auto 0;
  padding: 0 30px;
  line-height: 30px;
}

.header-item.border {
  border-right: 1px solid white;
}

.header-arrow-down {
  position: absolute;
  top: 50px;
  left: calc(50% - 19px);

  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #149ecb;
  z-index:9998;
}

/* Login section */

#header-login-section {
  line-height: 25px;
  padding-left: 35px;
  border-left: 1px solid white;

  &:before {
    content: "";
    background: url(../../static/img/profiili_ikoni.svg) no-repeat center center;
    background-size: 100% 100%;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    left: -15px;
    top: 4px;
  }

  & #header-logged-out {
    display: inline-block;
  }

  & #header-logged-in {
    position: relative;
    display: none;
    vertical-align: top;
  }
}

#header-login-button {
}

#header-logout-button {
  position: absolute;
  top: 14px;
  left: 0;
  text-decoration: underline;
  float: left;
}

.header-logged-in-name {
  margin: 0;
  line-height: 0;
}


