@import 'constants.css';
@import 'cookie.css';
@import 'header.css';
@import 'top-links.css';
@import 'footer.css';
@import 'mobile.css';
@import 'demo.css';

/* Ensures that header and footer start and end in edges. */
body {
  margin: 0;
}

/* prevent any global styles from changing font size */
#header, #footer {
  font-family: var(--raamit-font);
  font-size: var(--raamit-font-size);
  font-weight: var(--raamit-font-weight);
}

/* Remove default styling from buttons */
.raamit-button {
  background: Transparent no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  padding: 0;
  text-align: left;
  font: inherit;

  /* Add some common properties for oppija-raamit */
  color: white;
}
