/* Small screen */
@media screen and (max-width: 900px) {
  #top-links-bar {
    display: none;
  }

  #header-banner {
    display: none;
  }

  #header-content-right-side {
    display: none;
  }

  #header-mobile-menu-button {
    display: block;
  }

  #header-mobile-menu-container.header-menu-open {
    display: flex !important;
  }
}

@media screen and (max-width: 600px) {
  #footer-opintopolku-info-container {
    flex-direction: column;
  }

  .footer-item {
    width: 220px;
    margin: 0 auto;
  }
}

/* Common */

#header-mobile-menu-container {
  min-width: 250px;
  display: none;
  flex-direction: column;
  position: absolute;
  height: 100%;
  z-index: var(--header-z-index);
}

#header-mobile-menu-content-container {
  padding: 15px;
  background-color: var(--header-background-color);
}

#header-mobile-menu-languages {
  & button {
    margin-right: 30px;
  }
}

.header-link-active {
  font-weight: 600;
  text-decoration: underline !important;
  text-underline-position: under;
}

#header-mobile-menu-name {
  margin-bottom: 0;
}

#header-mobile-menu-login {
  font-weight: bold;
  text-decoration: underline;
  border-left: 1px solid white;
  padding-left: 15px;
}

#header-mobile-menu-logout-button {
  margin-top: 5px;
  font-size: var(--raamit-font-size-small);
  font-weight: bold;
}

#header-mobile-menu-links {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  border-left: 1px solid white;

  & a {
    margin: 15px 0;
  }
}

#header-mobile-menu-top-links-container {
  height: 100%;
  background-color: var(--top-links-background-color);
}

#header-mobile-menu-top-links {
  display: flex;
  flex-direction: column;

  & a {
    padding: 15px;
  }
}

#header-mobile-menu-button {
  margin: 0 20px 0 10px;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.header-mobile-menu-bar1, .header-mobile-menu-bar2, .header-mobile-menu-bar3 {
  width: 35px;
  height: 4px;
  background-color: white;
  margin: 7px 0;
  transition: 0.4s;
}

#header-mobile-menu-button.header-menu-open .header-mobile-menu-bar1 { transform: rotate(-45deg) translate(-8px, 7px); }
#header-mobile-menu-button.header-menu-open .header-mobile-menu-bar2 { opacity: 0; }
#header-mobile-menu-button.header-menu-open .header-mobile-menu-bar3 { transform: rotate(45deg) translate(-8px, -8px); }

