#top-links-bar {
  background-color: var(--top-links-background-color);
  width: 100%;
  font-weight: bold;
  font-size: var(--raamit-font-size-top-links);

  & .top-links {
    line-height: 20px;
    width: 100%;
    position: relative;
    overflow: auto;

    & .top-link {
      float: left;
      padding: 5px 20px 5px 20px;
    }

    & .top-link-active {
      background-color: var(--header-active-color);
    }
  }
}



