@header-background: #149ecb;
@navbar-z-index: 1001;

.body-font(@color) {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: @color;
  font-size: 13px;
}

#siteheader {
  background: @header-background;
  .body-font(white);
  line-height: 16px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  a, a:visited {
    color: white;
    text-decoration: none;
  }

  .header-column {
    min-width: 500px;
    max-width: 1160px;
    margin: 0px auto;
  }

  .header-content {
    padding: 20px 0px;
    font-weight: bold;
    overflow: auto;
    position: relative;

    .header-banner {
      display: inline-block;
      float: left;
    }

    @padding: 20px;
    @shortlist-width: 120px;
    @language-width: 125px;

    .header-login-section {
      line-height: 25px;
      position: absolute;
      bottom: 15px;
      right: (@language-width + @shortlist-width + @padding*2);
      border-right: 1px solid rgba(255,255,255, 0.4);
      padding-right: @padding;

      &:before {
        content: "";
        background: url(../img/login-icon.png) no-repeat center center;
        background-size: 100% 100%;
        width: 18px;
        height: 23px;
        display: inline-block;
        position: relative;
        left: -7px;
        top: 2px;

      }
    }

    .header-logout-link {
      background: rgba(255,255,255,0.1);
      font-weight: normal;
      outline: 4px solid rgba(255,255,255,0.1);
      margin-left: 10px;
      padding: 0px 2px;
      opacity: 0.8;
    }

    .header-shortlist {
      position: absolute;
      line-height: 25px;
      right: (@language-width + @padding);
      bottom: 15px;
      width: @shortlist-width;
    }

    ul.header-language {
      position: absolute;
      right: 0px;
      bottom: 20px;
      width: @language-width;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }

  nav {
    clear: both;
    background: #06526b;
    border: 1px solid #043a4c;
    min-height: 40px;
    float: left;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    z-index: @navbar-z-index;
    position: relative;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative;
      -webkit-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.5);
      box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.5);
    }

    ul.level-1-menu > li {
      float: left;
      overflow: auto;

      &.active {
        background: #ffffff;
        a {
          color: #333;
        }
      }

      a {
        display: inline-block;
        padding: 10px;
        text-decoration: none;
      }

      a.action-link {
        font-size: 13px;
        text-decoration: underline;
      }

      &.menu-focus {
        background: #ffffff;
        a {
          color: #333;
        }

        & > ul {
          display: block;
        }
      }
    }

    ul.level-2-menu {
      background: #ffffff;
      position: absolute;
      display: none;
      min-width: 200px;
      li {
        display: block;
        position: relative;
        a {
          color: #333;
          font-size: 13px;
          width: 100%;
          box-sizing: border-box;

          &:hover, &:focus {
            background: #feedbd;
          }
        }
      }
    }

    .mobile-version {
      float: right;
      font-size: 13px;
      text-decoration: underline;
      line-height: 40px;
    }
  }

  &.lang-en .mobile-version {
    display: none;
  }
}

#sitefooter {
  .bordered-footer-element() {
    border: 1px solid #dddddd;
  }

  max-width: 1160px;
  margin: 0px auto;
  .body-font(#999999);

  a {
    color: #333;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .footer-info-container {
    .bordered-footer-element();
    border-radius: 3px;
  }

  .footer-opintopolku-info {
    padding: 20px;
    overflow: auto;
    background: #dcdcdc;
    margin: 4px;

    .footer-homelink {
      float: left;
      margin-right: 40px;
    }

    ul {
      float: left;
      list-style-type: none;
      margin: 0;
      padding: 0;
      line-height: 20px;
      width: 500px;
    }

    li {
      width: 220px;
      float: left;
    }
  }

  .footer-note {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
  }

  .footer-logos {
    .bordered-footer-element();
    overflow: auto;
    padding: 9px 0px;

    a {
      display: inline-block;
      width: 50%;
      text-align: center;
      float: left;
    }
  }
}