<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet-mapping>
        <servlet-name>LanguageChangeServlet</servlet-name>
        <url-pattern>/changelanguage</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>cors</filter-name>
        <filter-class>oph.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>cors</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>shibbolethCheck</filter-name>
        <filter-class>oph.ShibbolethCheckFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>shibbolethCheck</filter-name>
        <url-pattern>/shibbolethcheck</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>shibbolethCheckServlet</servlet-name>
        <servlet-class>oph.ShibbolethCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LanguageChangeServlet</servlet-name>
        <servlet-class>oph.LanguageChangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>shibbolethCheckServlet</servlet-name>
        <url-pattern>/shibbolethcheck</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>frontPropertiesServlet</servlet-name>
        <servlet-class>oph.FrontPropertiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>frontPropertiesServlet</servlet-name>
        <url-pattern>/frontProperties</url-pattern>
    </servlet-mapping>
</web-app>
